<p id="notice"><%= notice %></p>

<p>
  <strong>Comprador:</strong>
  <%= @compra.comprador %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @compra.produto %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @compra.valor %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @compra.quantidade %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
