<p id="notice"><%= notice %></p>

<h2>Detalhe</h2>


<form>
  <div class="card border-success mb-3 ">
    <div class="card-body ">
      <div>
        <strong>Comprador:</strong>
        <%= @compra.comprador %>
      </div>

      <div>
        <strong>Produto:</strong>
        <%= @compra.produto.try(:nomeproduto) %>
      </div>

      <div>
        <strong>Valor:</strong>
        <%= @compra.valor %>
      </div>

      <div>
        <strong>Quantidade:</strong>
        <%= @compra.quantidade %>
      </div>

      <br>
      <div class="text-center">
        <%= link_to 'Voltar', compras_path, class: "btn btn-outline-success" %>
        <%= link_to 'Editar', edit_compra_path(@compra), class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</form>
