  <%= simple_form_for @venda do |form| %>
      <div class="card border-success mb-3" >
        <div class="card-body ">
          <div class="row ">
            <%= form.input :comprador, label: 'Nome Comprador', placeholder:'Nome', wrapper_html: { class: 'col-sm-3' }, hint: 'You cannot change your username.'  %>
            <%= form.input :nomeproduto, label: 'Nome Produto', wrapper_html: { class: 'col-sm-3' }%>
            <%= form.input :valoritemunitario, label: 'Valor Unitário (R$)', wrapper_html: { class: 'col-sm-3'} %>
          </div>
          <div class="row">
            <%= form.input :quantidade, label: 'Quantidade', wrapper_html: { class: 'col-sm-3' } %>
            <%= form.input :valoritens, label: 'Valor Total (R$)', disabled: true, wrapper_html: { class: 'col-sm-3'}, hint: 'Valor gerado automaticamente.'%>
            <%= form.input :endereco, label: 'Endereço Entrega', as: :string, wrapper_html: { class: 'col-sm-3' }%>
          </div>
          <div class="row">
            <%= form.input :descricaoproduto, label: 'Descrição Produto', wrapper_html: { class: 'col-sm-4' }%>
          </div>
          <div class="text-center">
            <%= form.submit 'Salvar compra', class: 'btn btn-outline-success' %>
          </div>
        </div>
      </div>
  <% end %>

<% if @venda.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@venda.errors.count, "error") %> prohibited
      this article from being saved:
    </h3>
    <ul>
      <% @venda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
