<h2>Lista de produtos Vendidos</h2>

<br>

<table class="table table-striped table-hover text-center">
  <thead style="background-color: #4CAF50">
    <tr>
      <th>Nome do comprador </th>
      <th>Nome do produto </th>
      <th>Valor de cada item </th>
      <th>Descrição Produto </th>
      <th>Quantidade itens </th>
      <th>Valor total </th>
      <th>Endereço </th>
      <th>Botões de ação</th>
    </tr>
  </thead>

<tbody>

  <% @venda.each do |vendas| %>
    <tr>
      <td><%= vendas.comprador %></td>
      <td><%= vendas.nomeproduto %></td>
      <td> R$ <%= vendas.valoritemunitario %></td>
      <td><%= vendas.descricaoproduto %></td>
      <td><%= vendas.quantidade %> uni.</td>
      <td> R$ <%= vendas.valoritemunitario * vendas.quantidade %></td>
      <td><%= vendas.endereço %></td>
      <td><%= link_to venda_path(vendas) do %>
            <i class="far fa-eye" style="font-size:20px;color:black"></i>
          <% end %>

          <%= link_to edit_venda_path(vendas) do %>
              <i class="fas fa-pencil-alt" style="font-size:20px;color:blue"></i>
          <% end %>

          <%= link_to venda_path(vendas),method: :delete, data: { confirm: 'Você tem certeza que deseja deletar esta compra?' } do %>
              <i class="far fa-trash-alt" style="font-size:20px;color:red"></i>
          <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
