<h2>Detalhe Venda</h2>

<form>
  <div class="card border-success mb-3 ">
    <div class="card-body ">
      <div>
        <strong>Nome do Comprador:</strong>
        <%= @venda.comprador %>
      </div>

      <div>
        <strong>Nome do Produto:</strong>
        <%= @venda.produto.try(:nomeproduto) %>
      </div>

      <div>
        <strong>Valor de Cada Item:</strong>
        R$ <%= @venda.valoritemunitario %>
      </div>

      <div>
        <strong>Descrição do Produto:</strong>
        <%= @venda.descricaoproduto %>
      </div>

      <div>
        <strong>Quantidade de Itens:</strong>
        <%= @venda.quantidade %> Uni.
      </div>

      <div>
        <strong>Valor Total:</strong>
        R$ <%= @venda.quantidade * @venda.valoritemunitario %>
      </div>

      <div>
        <strong>Endereço:</strong>
        <%= @venda.endereco %>
      </div>

      <br>

      <div class="text-center">
        <%= link_to 'Voltar', vendas_path(@venda), class: "btn btn-outline-success" %>
        <%= link_to 'Editar', edit_venda_path(@venda), class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</form>
