<h2>Detalhe Compra</h2>

<form>
  <div>
    <strong>comprador:</strong>
    <%= @venda.comprador %>
  </div>

  <div>
    <strong>nomeproduto:</strong>
    <%= @venda.nomeproduto %>
  </div>

  <div>
    <strong>valoritemunitario:</strong>
    <%= @venda.valoritemunitario %>
  </div>

  <div>
    <strong>descricaoproduto:</strong>
    <%= @venda.descricaoproduto %>
  </div>

  <div>
    <strong>quantidade:</strong>
    <%= @venda.quantidade %>
  </div>

  <div>
    <strong>valoritens:</strong>
    <%= @venda.valoritens %>
  </div>

  <div>
    <strong>endereço:</strong>
    <%= @venda.endereço %>
  </div>

  <br>

  <div>
    <%= link_to 'Voltar', vendas_path, class: "btn btn-outline-success" %>
    <%= link_to 'Editar', edit_venda_path(@venda), class: "btn btn-outline-success" %>
  </div>
</form>
